
# dependencies
/node_modules/
.pnp
.pnp.js
### MAC OS ###
.DS_Store

### MAVEN WARPPER ###
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java
!mvnw
!mvnw.cmd

### ECLIPSE IDE ###
!**/src/main/**/target/
!**/src/test/**/target/
target/
.classpath
.project
.settings
/logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ip
out
